@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { 

    body {
        background-image: linear-gradient(to top, #077af1, #3009df);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-color: #077af1;
        background-size: contain;
        background-repeat: no-repeat;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 922px) { 

    body {
        background-image: linear-gradient(to top, #077af1, #3009df);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-color: #077af1;
        background-size: contain;
        background-repeat: no-repeat;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    
     }
    
     div#formulario > p {
        font-size: 1.2em;
     }
}